:root {
    --primary-color: #658c2a;
    --secondary-color: #46621d;
    --body-color: #f4f4f4;
    --text-color: #444444;
    --big-screen: 960px;
    --mid-screen: 720px;
    --small-screen: 480px;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
    font-weight: normal;
}
h1 > a:hover {
    font-weight: bold;
}

.contact-icons a {
    margin: 0 5px;
    font-size: 25px;
}

.cv-icon {
    font-weight: bold;
}

venue {
    font-style: italic;
}

img.profile {
    border-radius: 50%;
    width: 80%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div.contact-icons {
    text-align: center;
    margin-bottom: 20px;
}

div.backlink {
    padding-bottom: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 50px 50px;
    color: var(--text-color);
    background-color: var(--body-color);
}

small {
    font-size: 0.8rem;
}


@media (max-width: 960px) {
    img.profile {
        width: 30%;
        height: auto;
        max-width: none;
    }

}

div.wrapper {
    width: 100%;
    max-width: 1200px;
}

header, footer {
    width: 350px;
}

section {
    width: calc(100% - 400px);
    text-align: justify;
}

@media print, screen and (max-width: 960px) {
    header, footer { width: auto; padding-right: 0;}
    section { width: 100%;}
    body { padding: 20px 20px;}
}
